*{box-sizing:border-box;}   
body{
    background-color:black;
    color: white;
    margin:0
}
.header{
    text-align:center;
    padding:30px;
    
}

.flex-container{
    display:flex;
    flex-wrap:wrap;
    padding:0 4px;

}

.column{
    flex:25%;
    max-width:33%;
    padding: 0 4px;

}

.column img{
    margin-top: 10px;
    width:100%;
    
}

@media screen and (max-width:1200px){
    .column{
        flex: 33%;
        max-width:33%
        
    }
    
}

@media screen and (max-width:600px){
    .column{
        flex: 100%;
        max-width:100%
    }
    
}


@media screen and (max-width:800px){
    .column{
        flex: 50%;
        max-width:50%
    }
    
}

